html {
    font-size: 18px;
}
.logocolor{
    color:#3eb8ec
}

.pagination li
{
	list-style:none;
	float:left;
	width :50px;
	height:30px;
	background-color: transparent;
	color:black;
	text-align:center;
	cursor:pointer;
}

.pagination li:hover
{
  font-size: 110%;
  color:#2185d0;
}

.pagination ul
{
	border:0px;
	padding:0px;
}

.standardbuttoncolor{
    color:#2185d0;
    background-color:#2185d0;
}

.txtsizegrid{
    font-size: 1.28571429rem;
}

.html{ font-size: 25px }


