html {
    font-size: 18px;
}
.logocolor{
    color:#3eb8ec
}

.standardbuttoncolor{
    color:#2185d0;
    background-color:#2185d0;
}

.txtsizegrid{
    font-size: 1.28571429rem;
}

.html{ font-size: 25px }
